<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<%- data.forEach(function(team){ %>
    <!-- <a>
        <img src="./nba_app/img/<%=(data.id %>).png" alt="">
        <h1><%=(data.full_name)%></h1>
        
    </a> -->
<%- }) %>
<%- include("./partials/footer.ejs") %>