<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<div class="app">

    <h1 id=open_h1>NBA teams</h1>
        <div class="container">
            <% teams_data.forEach(function(team){ %>
            <a href="teams/<%-team.name%>">
                <img loading="lazy" src="./img/<%-team.id%>.png" alt="">
                <h1><%-team.full_name%></h1>   
            </a>
            <% }) %>
        </div>
</div>
<%- include("./partials/footer.ejs") %>