<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<h1 id=open_h1>NBA teams</h1>
<div class="container">
    <a>
        <img src="./img/<%- teams_data[0].id%>.png" alt="">
        <h1><%- teams_data[0].full_name %></h1>
    
    </a>
</div>
<%- include("./partials/footer.ejs") %>